<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/tienda">Mi Tienda</a>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/cliente" routerLinkActive="active">Clientes</a>
      <a class="nav-link" routerLink="/tienda" routerLinkActive="active">Tiendas</a>
      <a class="nav-link" routerLink="/articulo" routerLinkActive="active">Artículo</a>
      </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>