<div class="table-responsive">
  <table class="table table-hover align-middle mb-0">
    <thead class="bg-light">
      <tr>
        <th *ngFor="let header of headers" 
            [class.ps-4]="header === headers[0]">
          {{ header.label }}
        </th>
        <th class="text-end pe-4" *ngIf="showActionsColumn">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let header of headers" 
          [attr.title]="rowTitle ? rowTitle : ''"
          (dblclick)="onRowDoubleClick.emit(row)"
          [class.ps-4]="header === headers[0]"
          [class.row-clickable]="activeRowDoubleClick">
          {{ getValue(row, header.key) }}
        </td>

        <td class="text-end pe-4" *ngIf="showActionsColumn">
          <button 
            class="btn btn-sm btn-outline-secondary me-2"
            *ngIf="showViewButton"
            (click)="onView.emit(row)">
            <i class="bi bi-eye"></i>
          </button>
          <button 
            class="btn btn-sm btn-outline-secondary me-2"
            *ngIf="showEditButton"
            (click)="onEdit.emit(row)">
            <i class="bi bi-pencil"></i>
          </button>
          <button 
            class="btn btn-sm btn-outline-danger"
            *ngIf="showDeleteButton"
            (click)="onDelete.emit(row)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      
      <tr *ngIf="data.length === 0">
        <td colspan="9999" class="text-center py-5 text-muted">
          No hay registros para mostrar.
        </td>
      </tr>
    </tbody>
  </table>
</div>